/* used colors are: #222 #eee*/
* {
    margin: 0;
    padding: 0;
}

body {
    background: #4d2d06;
    font-family: Georgia, Times, serif;
    color: #fff;
    text-align: center;
    font-size: 25px;    
}

.box {
    text-align: center;
    padding: 0.5em;
    margin-bottom: 0.5em;
}

.primary-box {
    background-color: #212121;
}

.secondary-box {
    background-color: #fff;
    color: #212121
}